aiohttp
aiobotocore[boto3,awscli]==1.0.7
pyyaml
wget
requests
datacube
datacube-explorer
# Jupyter components.
numpy
scipy
jupyter
jupyterlab
ipyleaflet
folium
pandas
xarray
geopandas

# for tests
pytest
testbook
